{% extends 'base.html' %}

{% block title %}Личный кабинет{% endblock %}

{% block head_title %}Личный кабинет{% endblock %}

{% block content %}
<div class="section__right">
    <table>
        <tr>
            <td>Фамилия</td>
            <td>{{ user.first_name }}</td>
        </tr>
        <tr>
            <td>Имя</td>
            <td>{{ user.last_name }}</td>
        </tr>
        <tr>
            <td>Электронная почта</td>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <td>Статус анкеты</td>
            <td>{% if application %}
                    {% if application.status %}
                        Принято
                    {% else %}
                        Отказано
                    {% endif %}
                {% else %}
                    Вы еще не подали анкету.
                {% endif %}
            </td>
        </tr>
    </table>
</div>
{% endblock %}