{% extends 'base.html' %}
{% load static %}
{% block title %}Личный кабинет{% endblock %}

{% block head_title %}Личный кабинет{% endblock %}

{% block content %}
<div class="row section__main item__center">
    <div class="section__left img_sova">
        <img src="{% static 'img/sova.png' %}">
    </div>
    <div class="section__right">
        <table>
            <tr>
                <td>Фамилия</td>
                <td>{{ user.first_name }}</td>
            </tr>
            <tr>
                <td>Имя</td>
                <td>{{ user.last_name }}</td>
            </tr>
            <tr>
                <td>Электронная почта</td>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <td>Статус анкеты</td>
                <td>
                {% if application %}
                    {% if application.status %}
                        Принято
                    {% else %}
                        На расмотрении
                    {% endif %}
                {% else %}
                    Вы еще не подали анкету.
                {% endif %}
                </td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}